body {
  background-color: pink;
}

h1{
  color: blue;
  font-size: small; 
}

h2{
  color: green;
  font-weight: normal;
  font-style: italic;
}

.completed {
  font-family: aerial;
}

#tasks.completed {
  background-color: green;
  text-decoration: underline;
}